@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin:0;
}

:root{
    --font-inter: "Inter", sans-serif;
    /* using defaul font size 16px */
    --font-size-12: 0.75rem;
    --font-size-16: 1rem;
    --font-size-24: 1.5rem;
    --font-size-32: 2rem;

    --ligth-grey-general-background-color: #E5E5E5;
    --blue-dark-color-fonts-and-buttons: #0A3871;
    --white-color-result-seccion-bkground: #FFFFFF;
    --white-color-fonts: #FFFFFF;
    --white-color-buttons: #D8DFE8;
    --gray-400-fonts: #495057;
    --gray-500-fonts: #343A40;

}

body{
    background-color:var(--ligth-grey-general-background-color);
    display: flex;
    flex-direction: column;
    margin: 1%;
}


 main{
    box-sizing: border-box;
    height: 35rem;
    display: flex;
    gap: 2.5%;
    padding: 1%;
}

.logo-seccion{
    box-sizing: border-box;
    width: 7%;
    height: 95%;
    display: block;
}

.logo-seccion-img{
    width: 3rem;
    height: 2rem;;
}

.enter-text-seccion{
    box-sizing:border-box;
    width: 65%;
    height: 95%;
    display: flex;
    flex-direction: column;
    gap:1%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
.enter-text-seccion-textarea{
    box-sizing:border-box;
    width: auto;
    height: 80%;
    resize: none;
    background-color: var(--ligth-grey-general-background-color);
    border-color: var(--ligth-grey-general-background-color);
    border-radius: 32px;
    color: var(--blue-dark-color-fonts-and-buttons);
    padding: 5%;

    font-family: var(--font-inter);
    font-size: var(--font-size-16);
    color: var(--blue-dark-color-fonts-and-buttons);
    line-height: 150%;
    text-align: left;
}

textarea:focus {
    border-color: var(--blue-dark-color-fonts-and-buttons); /* Change border color on focus */
    outline: none; /*Remove default outline (often a blue glow) */
}
 ::placeholder{
   font-family: var(--font-inter);
   font-size: var(--font-size-16);
   color: var(--blue-dark-color-fonts-and-buttons);
   
 }
.enter-text-seccion-note-div{
    box-sizing: border-box;
    height: 4%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: var(--font-inter);
    font-size: var(--font-size-12);
    color: var(--gray-400-fonts);
}

.enter-text-seccion-note-div-image{
    width: 1rem;
    height: 1rem;
}
.enter-text-seccion-button-division{
    box-sizing: border-box;
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    gap: 10%;
}

#enter-text-seccion-button-encrypt{
    width: 45%;
    background-color: var(--blue-dark-color-fonts-and-buttons);
    border-radius: 24px;
    padding:2.5%;
    font-family: var(--font-inter);
    font-size: var(--font-size-12);
    color: var(--white-color-fonts);
}

#enter-text-seccion-button-decrypt{
    width: 45%;
    background-color: var(--white-color-buttons);
    color: var(--blue-dark-color-fonts-and-buttons);
    border-radius: 24px;
    padding: 2.5%;
    font-family: var(--font-inter);
    font-size: var(--font-size-12);
    color: var(--blue-dark-color-fonts-and-buttons);
}

.result-seccion{
    box-sizing: border-box;
    width:28%;
    height: 95%;
    display: flex;
    flex-direction: column;
    gap:1%;
    align-items: center;
    text-align: center;
    background-color: var(--white-color-result-seccion-bkground);
    border-radius: 32px;
    /* padding: 3%; */
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
}

.result-text-div{
    box-sizing: border-box;
    width: 100%;
    height: 29%;  
}

.result-text-div-p1{
    font-family: var(--font-inter);
    font-size: var(--font-size-16);
    color: var(--gray-400-fonts);
    line-height: 150%;
    text-align: left;
    
}

#result-any-message-div{
    box-sizing: border-box;
    width: 100%;
    height: 55%;

}
.result-any-message-div-image{
    box-sizing: border-box;
    width: 55%;
    height: 55%;
}
.result-any-message-div-p2{
    font-family: var(--font-inter);
    font-size: var(--font-size-12);
    color: var(--gray-400-fonts);
    line-height: 150%;
}



.copy-button-div{
    box-sizing: border-box;
    width: 100%;
    height: 16%;
    display: none;
    align-items: center;
}
.copy-result-text-button{
    box-sizing: border-box;
    width: 100%;
    background-color: var(--white-color-buttons);
    color: var(--blue-dark-color-fonts-and-buttons);
    border-radius: 24px;
    padding-top: 6%;
    padding-bottom: 6%;

    font-family: var(--font-inter);
    font-size: var(--font-size-12);
    color: var(--blue-dark-color-fonts-and-buttons);
}

footer{
    background-color: var(--blue-dark-color-fonts-and-buttons);
    border-radius: 32px;
    padding: 1%;
    margin-top: 1%;
    text-align: center;
    color: var(--white-color-fonts);
}

/* @media screen and (min-width: 376px) and (max-width: 768px) { */
@media screen and (max-width: 768px) { 
    main{
        height: 73.5rem;
        flex-direction: column;
        padding: 3% 3% 3% 3%;
    }

    .logo-seccion{
        width: 100%;
        height: 5%;
    }

    .enter-text-seccion{
        width: 100%;
        height: 80%;
    }

    .enter-text-seccion-textarea{
        width: auto;
        height: 90%;
    }
    .enter-text-seccion-button-division{
        height: auto;
    }

    .result-seccion{
        width:100%;
        height: auto;
    }
    
    .result-text-div{
        width: 100%;
        height: auto;  
    }
    
    #result-any-message-div{
        
        box-sizing: border-box;
        width: 100%;
        height: auto;
    
    }
    .result-any-message-div-image{
        display: none;
        width: 0%;
        height: 0%;
    }
    
    .copy-button-div{
        box-sizing: border-box;
        width: 100%;
        height: auto;
        display: none;
        align-items: center;
    }
    .copy-result-text-button{
        
        padding-top: 2.5%;
        padding-bottom: 2.5%;
       
    }
}